
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0a0909;
  
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  
  
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* #1f242d,#323946 */